@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-style: normal;
}
:root{
    --primary-blue: #183153;
    --secondary-blue: #E9F5FF;
    --light-blue: #F5FCFF;
    --dark-content: #333333;
    
}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
    .container{
        padding: 0 10%;
        margin: 0;
        max-width: 100%;
    }
}


p{
    /* font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.1vw;
    line-height: 23px;
    letter-spacing: 0.02em;
    margin: 0;
    color: #6E6E6E; */
font-weight: 400;
font-size: 13px;
line-height: 25px;
letter-spacing: 0.02em;
margin: 0;
color: #6E6E6E;
}


/* -------------------------------------------------------------------------- hero page Codes Start */
.navbar{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(7, 83, 116, 0.05);
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar-nav{
    margin-right: 10px;
    margin-left: auto;
}
.nav-link,.logoSub,.navbar-brand{
    margin-right: 8px;
    line-height: 21px;
    letter-spacing: 0.02em;
}
.navbar-brand{
    font-weight:bolder;
    font-size: 25px;
    color: var(--primary-blue);
}
.nav-link{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #7F7F7F;
}
.logoSub{
    margin-left: 3px;
    font-size: 16px;
    color: var(--primary-blue);
}
.navbar-toggler-icon img{
    height: 23px;
}

.rulebookButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 40px;
    gap: 12px;

    width: 140px;
    height: 36px;

    background: var(--primary-blue);
    border-radius: 20px;
    font-weight: 100;
    border: none;
}
.rulebookButton:hover{
    background: #0F1F3D;
}
.navbar-toggler-icon{
    display :contents;
}
.rulebookButton img{
    height: 12px;
}

/* hero section */

.body{
    background: #F5FCFF;
}
.herow{
    padding-top: 50px;
    /* align-items: center; */
    height: 100vh;
}
.heroContent h1{
    font-weight: 700;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: 0.02em;

    color: #183153;
}
.heroContent p{
    font-weight: 400;
    font-size: 25px;
    line-height: 50px;
    letter-spacing: 0.01em;
    color: #183153;
}
.heroContent .section-txt{
    margin-top: 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.02em;
        color: #6E6E6E;
}

.heroBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    background: #E9F5FF;
box-shadow: 0px 0px 10px rgba(235, 244, 252, 0.25);
border-radius: 20px;
}
.applyNow{
    margin:10px 10px 10px 20px;
    padding: 12px 24px;
    display: flex;
    border-radius: 20px;
    background-color: #146EBE;
    flex-direction: row;
    align-items: center;
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
    .form-inline{
        position: absolute;
        top: 0;
        left: 0;
    }
    .herow{
        padding-top: 80px;
        height: 100%;
        gap: 60px;
    }
    .rulebookButton{
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }
    .navbar-brand{
        margin-left: auto;
    }   
    .navbar-nav .nav-item{
        text-align: center;
    }
}
/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
   
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navB,.timer{
        font-size: 18px;
    }
    .logoSub{
        font-size: 12px;
    }
    .navbar-toggler-icon img{
        height: 15px;
    }
    .rulebookButton{
        padding: 12px 35px;
        gap: 12px;    
        width: 120px;
        height: 35px;
        font-weight: 100;
    }
    .rulebookButton img{
        height: 8px;
        display: none;
    }
    .herow{
        padding-left: 20px;
        padding-right: 20px;
    }
    .heroBox{
        flex-direction: column;
        align-items: center;
        margin:auto;
        padding-top: 10px;
    }
    .heroBox p{
        font-size: 50px;
        padding: 20px 20px 10px 20px;
    }
    .heroBox .section-txt{
        font-size: 18px;
        font-weight: 400;
        padding-top: 10px;
    }
}
@media only screen and (max-width: 420px){
    .rulebookButton{
        padding: 10px 32px;
        gap: 12px;    
        width: 80px;
        height: 32px;
        font-weight: 100;
    }
    .heroContent h1{
        font-size: 50px;
        line-height: 80px;
    }
    .heroContent p{
        font-size: 16px;
        line-height: 10px;
    }
    .heroContent .section-txt{
        margin-top: 15px;
        font-size: 11px;
        line-height: 20px;
    }
}
@media only screen and (min-width: 992px) {
    .navbar{
        padding-left: 50px;
        padding-right: 50px;
        /* height: 60px; */
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
    .navbar{
        padding-left: 70px;
        padding-right: 70px;
        height: 60px;
    }
    .heroContent .section-txt{
        font-size: 18px;
        line-height: 24px;
    }
    .heroContent h1{
        font-weight: 700;
        font-size: 80px;
        line-height: 80px;
        letter-spacing: 0.02em;
    
        color: #183153;
    }
    .heroContent p{
        font-size: 28px;
        line-height: 60px;
    }
}




.section-blue{
    background-color: var(--light-blue);
    z-index: -10;
}
.section-dark-blue{
    background-color: var(--primary-blue);
}
.section-white{
    background-color: white;
    z-index: -10;
}
.section-txt{
    font-weight: 500px;
    font-size: 18px;
    color: var(--primary-blue);
}

.section-title{
    font-weight: bold;
    font-size: 50px;
    color: var(--primary-blue);
}


/* ---------------------------------------------------------------------------Timeline Section Starts */
.tl-container{
    z-index: -5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.tl{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 50%;
    padding: 0px, 70px;
}

.tl-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.tl-card{
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.tl-date{
    font-weight: bold;
    color: var(--primary-blue);
    font-size: 23px;
    margin-bottom: 5px;
}
.tl-img{
    margin-top: 7px;
}
.tl-event{
    font-weight: 500px;
    font-size: 18px;
    color: var(--dark-content);
}

.tl-svg{
    position: absolute;
    top: calc(324px+100vh+80px);
    background-color: var(--primary-blue);
    height: 3px;
    width: 0px;
}

.tl-crv{
    position: absolute;
    left: 0;
    top: 0;
}

.tl-v-svg{
    display: none;
}
.tl-v-line{
    display: none;
}

@media only screen and (max-width: 1080px) {
    .tl{
        width: 45%;
    }
}

@media only screen and (max-width: 992px) {
    .tl-vector{
        display: none;
    }
    .tl{
        width: 55%;
    }
}
/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
    .tl-card{
        flex-direction: row;
        flex-flow: row-reverse;
        justify-content: space-between;
    }
    .tl-row{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        flex-wrap: wrap;
    }
    .tl-img{
        transform: scale(60%, 60%);
        z-index: -1;
    }
    .tl-svg{
        display: none !important;
    }
    .tl-crv{
        display: none !important;
    }
    .tl-v-svg{
        display: block;
        background-color: var(--primary-blue);
        position: absolute;
        height: 96px;
        width: 3px;
        z-index: -1;
    }
    .tl-v-line{
        display: inline;
    }
}

/* ---------------------------------------------------------------------------Timeline Section Ends */





/*----------------------- prize section  --------------------------*/
.prize-box{
   
    width: 306px;
    height: 360px;
    border: 2px solid #222;
    border-radius: 10px;
    background-color: #FFFFFF;
    border-width: 3px 0px;
    border-style: solid;
    border-color: #183153;
    box-shadow: 4px 4px 4px 4px rgba(24, 49, 83, 0.1);
    font-family: 'Poppins';
    font-style: normal;
    text-align: center;
    transition: all 800ms ease-in-out;
}
.prizeamount{
    font-size: 40px;
    font-weight: 600;
    color: var(--primary-blue);
    padding-top: 50px;
}
.p_rank{
    font-size: 150px;
    margin-bottom: 80px;
    color: var(--primary-blue);
}
.img_p{
    width: 140px;
    height: 240px;
    margin-top: 35px;
}
.p_st{
    margin-bottom: 118px;
    font-size: 35px;
    font-weight: 600px;
    color: var(--primary-blue);
}

/* transition in price section */
.prize-box:hover{
    box-shadow: 6px 6px 6px 6px #3a3a3b;
    transform: translate(2px);
}
/*----------------------- prize section  --------------------------*/

/*--------------------- Tracks starts------------------------------- */
.tracks-content{
    /* display: flex; */
    /* justify-content: space-between; */
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; */
    /* padding: 0px 40px; */
    /* gap: 40px; */
}

.main-box{
    background: var(--light-blue);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.inner-content{
    display: flex;
    flex-direction: column;
}
.track1, .track2, .track3{
    display: flex;
    flex-direction: column;
    gap: 24px;
} 

.symbol{
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    width: 60px;
    height: 60px;
    padding: 10px;
    gap: 10px;

    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.inner-content p{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

/*--------------------- Tracks end---------------------------------- */

/*--------------------Judges and mentors-----------------------------*/
.mentor-img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.mentorImg2{
    max-width: 143px;
    height: auto;
    margin: auto auto;
    z-index: 4;
}

@keyframes mentor-rotate{
  100%{transform: rotate(20deg);}
}
@keyframes mentor-expand {
   100%{transform: scale(120%,120%);}
}

.mentorImg{
    position: absolute;
    max-width: 225px;
    z-index: 2;
}
.mentorImg:hover{
    animation: mentor-expand 0.7s, mentor-rotate 0.7s;
    /* animation-name: mentor-rotate;
    animation-name: mentor-expand;
    animation-duration: 0.7s; */
}
.mcard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mentorRow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.name{
    text-align: center;
    color: #183153;
    font-family: 'Poppins', sans-serif;
}


/* Footer start */
.foot-items{
    display: flex;
    flex-direction: row;
    color: white;
    height: 272px;
    align-items: center;
    justify-content: space-evenly;
    /* grid-template-columns: repeat(auto-fill,minmax(200px,1fr)); */
}


.mid-foot{
    /* padding-bottom:10px; */
    margin-bottom: 80px;
}
.l-foot-img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
#footer{
    background-color: rgba(193, 219, 248, 1);
}

.foot-items p{
    font-size: 120%;
}
.left-foot span{
    font-weight: bold;

}



/* Footer ends */
